*.sublime-workspace
*~
*.pyc
*.nfs*
recordings
data/objects
configs
*.swp
*.vim
*~
*.directory
Thumbs.db
desktop.ini
.DS_Store
data/objects/medieval_harbour
data/objects/suzannes_revenge
data/objects/apfel
data/objects/bananas
data/objects/marketbooth
path_recordings
